*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    padding: 0% 20% 0% 20%;

}
main{
    background-color: #F0F0F0;
    min-height: 100%;
    padding: 50px 10px 0 10px;

}
#first{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
#logo{
    width: 70px;
    height: 70px;
}
.main-text{
    width: 70%;
    height: fit-content;
}
.main-text h1{
    
        font-size: 2.8rem;
        line-height: 1;
        font-family:Arial, Helvetica, sans-serif;
        word-spacing: -3px;
        letter-spacing: -2px;
        font-weight: 500;
       
        color: #54060B;
}
.main-text  img{
    height: 20px;
}
#text-logo{
    height: 1em;
}
.small-text{
    
    text-align: right;
    width: fit-content;
    padding-right: 5px;
}
.small-text p{
    font-size: 10px;
    color: #54060B;
    text-align: right;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#second{
        
        margin-left: 33%;

}
.centerText h1{
    
        font-size: 2.8rem;
        line-height: 1;
        font-family:Arial, Helvetica, sans-serif;
        word-spacing: -3px;
        letter-spacing: -2px;
        font-weight: 500;
       
        color: #54060B;
        

}
.centerText{
    
    width: fit-content;
    text-align:left;
  
}
.para1{
    margin-top: 10px;
    width:42%;
    
    color: #54060B;
}
.para1 p {
    font-size: 12px ;
}
#third{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   

    align-items: flex-end;
}

.tags  h4{
    text-align: start;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: #54060B;
    font-size: 18px;
    font-weight: 400;
}
.images{
    display: flex;
    gap: 10px;
}
.images img{
    height: 200px;
    border-radius: 15px;

}
#fourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 70px;
    gap: 40px;
    
    
}
.lastText h1{
    font-size: 2.8rem;
        line-height: 1;
        font-family:Arial, Helvetica, sans-serif;
        word-spacing: -3px;
        letter-spacing: -2px;
        font-weight: 400;
        text-align: center;
       
        color: #54060B;

}

.light{
    color: #A99999;
}
.para2{
    
    width: 40%;
    
}
.para2 p{
    font-size: 10px;
    color: #54060B;
    text-align: center;


}